* {
  box-sizing: border-box;
}

body {
  margin: auto 10;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.setup {
  font-style: italic;
  font-weight: bold;
}
